body {
    background-color: #29292a !important;
}

h1 {
    font-size: 6em;
    color:#a9aabc;
    text-align: center;
}



.inner {
    margin: 0 auto;
    padding-left: 4vw;
    
    max-width: 1040px;
    width: 100%;
    
}

.outer {
    position: relative;
    padding: 0 4vw;
}

.sidebar {
    color: #a9aabc;
    float: left;
}